
@keyframes fadeInAnimation {
    0% {
        transform: translateY(100px);
        opacity:0;
    }
    100% {
        transform: translateY(0);
        opacity:1;     
    }
}
.test{
    animation: 0.5s ease-in 0s 1 fadeInAnimation;
}
.all-component-container{
    min-height: 100vh;
    display: flex;
}

.rem-page-content{
    width: 100%;
    grid-column-gap: 72px;
    grid-row-gap: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 120px;
    display: flex;
    overflow: hidden;
}